
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #1a1a1c;
  color: #fff;
}

main{
  width: 1120px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

header{
  width: 100%;
   padding: 20px 0 0;
}
header .logo img{
  width: 80px;
} 
header .logo figure{
 display: flex;
 align-items: center;
 font-size: 40px;
 font-weight: 700;
}
header nav {
  margin: 20px auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

header nav a {
  text-decoration:  none;
}
 
.page-header{
   text-align: center;
    margin: 30px 0;
    letter-spacing: 2px;
    font-size: 30px;
}

/* Crypto-Index Page */
/* Loader */
.loader-wrapper{
  position: absolute;
  background-color: #1a1a1c;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 80px 0 0;
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}


/* Loader End */

.crypto-chart, .crypto-news{
  position: relative;
}
.crypto-search {
  margin: 25px;
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.crypto-search h1 {
  margin-bottom: 32px;
  text-align: center;
}

.search-input {
  padding-left: 16px;
  width: 250px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );

  color: #e2e2e2;
}

.search-input::placeholder {
  color: #e2e2e2;
}


/* Currency CSS */

.currency-container{
  display: flex;
  justify-content: center;
}

.chart-row{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
}
.coin{
  display: flex;
  align-items:  center;
  padding-right: 20px;
  min-width: 270px;

}

.coin h2{
  font-size: 16px;
}

.coin img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.coin-symbol{
    text-transform: uppercase;
    padding: 0 10px;
}

.coin-data{
  display: flex;
  text-align: center;
  justify-content:  space-between;
  align-items: center;
}

.coin-price{
  width: 160px;
  text-align: right;
  padding-right: 20px;
  letter-spacing: 1.4px;
}

.coin-volume{
  width: 160px;
  text-align: right;
}
.circ-supply{
  width: 240px;
  text-align: right;
}

.coin-marketcap {
  width: 190px;
  letter-spacing: 1px;
}
.coin-percent{
    width: 100px;
    font-weight: 700;
}

.red{
    color: red;
}

.green{
    color: green;
}

/* News Page */
.news-feed a, .news-feed a *{
  text-decoration: none;
}
.news-item{
  display: flex;
  margin: 20px 0;
}
.news-item figure{
  display: block;
  width: 300px;
  min-height: 160px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 
.news-item img {
  width: 300px;
  max-height: 200px;
}
.news-content{
  padding: 10px 20px;
}
.news-content h3{
  font-size: 28px;
}
.news-content p {
  padding-top: 10px;
  font-size: 16px;
}


/* Animation for Loader */
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}